<div id="modifProfil">
    <header>
      <div @click="homepageRoute" class="logoContainer">
        <p>partagez votre potager</p>
      </div>
      <div class="menu">
          <img src="../../images/hamburgerTransparent.png" @click="stopAnimation" :class="{ helloWorld: isActive }" class="dropdown redTomatoe" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></img>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a @click="homepageRoute" class="dropdown-item" href="#">accueil</a>
              <a v-if='disconnected' @click="connexionPage" class="dropdown-item" href="#">connexion</a>
              <a @click="potagerPage" class="dropdown-item" href="#">potagers</a>
              <a @click="jardiniersPage" class="dropdown-item" href="#">jardiniers</a>
              <a v-if='disconnected' @click="inscriptionPage" class="dropdown-item" href="#">inscription</a>
              <a @click="pageProfil" v-if="connected" class="dropdown-item" href="#">mon profil</a>
              <a @click="deconnexion" v-if="connected" class="dropdown-item" href="#">déconnexion</a>
          </div>
      </div>
    </header>
    <div class="container">
        <div class="row justify-content-center">
            <h2>Bienvenue {{ prenom }}</h2>
        </div>
     <div class="row">
         <div class="col text-center">
           <h3>Modification de produit</h3>
          <div v-for="recolte in recoltes" class="card" style="width: 18rem;">
            <img :src="recolte.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ recolte.type }} x{{ recolte.quantite }}</h5>
              <p>{{ recolte.description }}</p>
              <a href="#" class="btn btn-primary">modifier</a>
            </div>
          </div>
         </div>
         
     </div>
     
     <div class="row addProduct my-2">
         <div class="col text-center">
             <h3>Ajout de produit</h3>
            <form submit="#">
                <div class="form-group">
                  <label for="description">Description</label>
                  <input v-model="description" type="text"  >
                 
                </div>
                <div class="form-group">
                  <label for="quantite">Quantité</label>
                  <input v-model="quantite" type="number" >
                </div>
              
              
                <button type="submit" class="btn ">Ajouter</button>
              </form>  
         </div>
     </div>
    
    <div class="newFooter">
        <img src="../../images/cavabienaller.png" alt="logoCaVaBienAller">
        <h3>Une production DreamTeam</h3>
    </div>

</div>
</div>