<div id="accueil">
    <header>
        <div @click="homepageRoute" class="logoContainer">
            <p>partagez votre potager</p>
        </div>
        <div class="menu">
            <img src="../../images/hamburgerTransparent.png" class="dropdown redTomatoe" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></img>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a @click="homepageRoute" class="dropdown-item" href="#">accueil</a>
                <a v-if='disconnected' @click="connexionPage" class="dropdown-item" href="#">connexion</a>
                <a @click="potagerPage" class="dropdown-item" href="#">potagers</a>
                <a @click="jardiniersPage" class="dropdown-item" href="#">jardiniers</a>
                <a v-if='disconnected' @click="inscriptionPage" class="dropdown-item" href="#">inscription</a>
                <a @click="pageProfil" v-if="connected" class="dropdown-item" href="#">mon profil</a>
                <a @click="deconnexion" v-if="connected" class="dropdown-item" href="#">déconnexion</a>
            </div>
        </div>
    </header>


    <!-- by clicking on each div, you go to detailsOffre -->

    <div class="container">
        <div class="row ">
            <div class="col text-center">
                <h2>Bienvenue {{ prenom }} {{ nom }}</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col">
                <div class="jumbotron outboundOffers">
                    <h3 class="text-center">
                        Vos offres
                    </h3>
                    <div v-for="outOffer in outgoingOffers" class="alert alert-dark" role="alert">
                        <p class="text-center">Offre pour {{ outOffer.jardinier_to_prenom }} {{ outOffer.jardinier_to_nom }}</p>
                        <p class="text-center">Offre: {{ outOffer.produce_from_quantite }} {{ outOffer.produce_from_nom }}(s) contre {{ outOffer.produce_to_quantite }} {{ outOffer.produce_to_nom }}(s) </p>
                        <div class="btn" @click="deleteOffer(outOffer.echange_id)">Supprimer</div>
                    </div>

                    
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col">
                <div class="jumbotron outboundOffers">
                    <h3 class="text-center">
                        Offres en attente
                    </h3>
                    <div v-for="inOffer in incomingOffers" class="alert alert-dark" role="alert">
                        <p class="text-center">Offre de {{ inOffer.jardinier_from_prenom }} {{ inOffer.jardinier_from_nom }}</p>
                        <p class="text-center">Offre: {{ inOffer.produce_from_quantite }} {{ inOffer.produce_from_nom }}(s) contre {{ inOffer.produce_to_quantite }} {{ inOffer.produce_to_nom }} </p>
                        <div class="btn accept">Accepter</div>
                        <div class="btn" @click="deleteOffer(inOffer.echange_id)">Refuser</div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

  
    
    
    
    
    <div class="newFooter">
        <img src="../../images/cavabienaller.png" alt="logoCaVaBienAller">
        <h3>Une production DreamTeam</h3>
    </div>
    
    
</div>