<div id="accueil">
    <header>
        <div @click="homepageRoute" class="logoContainer">
            <p>partagez votre potager</p>
        </div>
        <div class="menu">
            <img src="../../images/hamburgerTransparent.png" @click="stopAnimation" :class="{ helloWorld: isActive }" class="dropdown redTomatoe" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></img>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a @click="homepageRoute" class="dropdown-item" href="#">accueil</a>
                <a v-if='disconnected' @click="connexionPage" class="dropdown-item" href="#">connexion</a>
                <a @click="potagerPage" class="dropdown-item" href="#">potagers</a>
                <a @click="jardiniersPage" class="dropdown-item" href="#">jardiniers</a>
                <a v-if='disconnected' @click="inscriptionPage" class="dropdown-item" href="#">inscription</a>
                <a @click="pageProfil" v-if="connected" class="dropdown-item" href="#">mon profil</a>
                <a @click="deconnexion" v-if="connected" class="dropdown-item" href="#">déconnexion</a>
            </div>
        </div>
    </header>

  <div class="container">
      <div class="row">
          <div class="col">
            <div class="profileContainer">
                <div class="potagerProfileContainer">
                    <img @click="goToPotager(id_potager)" :src="image_potager" alt="">
                    <div class="ranking">
                        <p>Évaluation du potager</p>
                        <p>{{ rating_potager }} / 5  ({{ vote_potager }} Votes)</p>
                    </div>
                </div>
                <div class="jardinierProfileContainer">
                    <img @click="goToJardinier(id)" :src="image_user" alt="">
                    <div class="ranking">
                        <p>Évaluation du jardinier</p>
                        <p>{{ rating_user }} / 5  ({{ vote_user }})</p>
                    </div>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="profileButtonsContainer">
                <a @click="modificationProfil" href="#" class="btn btn-primary">Modifier profil</a>
                <a @click="modificationAjoutProduit" href="#" class="btn btn-primary">Modifier/ajouter produits</a>
                <a @click="offres" href="#" class="btn btn-primary">Vos offres</a>
            </div>
          </div>
          
      </div>
  </div>
    
    
    
    
  <div class="newFooter">
    <img src="../../images/cavabienaller.png" alt="logoCaVaBienAller">
      <h5>Une production DreamTeam</h5>
</div>
    
    
</div>