<div id="accueil">
  <header>
    <div @click="homepageRoute" class="logoContainer">
        <p>partagez votre potager</p>
    </div>
    <div class="menu">
        <img src="../../images/hamburgerTransparent.png" @click="stopAnimation" :class="{ helloWorld: isActive }" class="dropdown redTomatoe" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></img>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a @click="homepageRoute" class="dropdown-item" href="#">accueil</a>
            <a @click="connexionPage" class="dropdown-item" href="#">connexion</a>
            <a @click="potagerPage" class="dropdown-item" href="#">potagers</a>
            <a @click="jardiniersPage" class="dropdown-item" href="#">jardiniers</a>
            <a @click="inscriptionPage" class="dropdown-item" href="#">inscription</a>
            <a @click="pageProfil" v-if="connected" class="dropdown-item" href="#">mon profil</a>
            <a @click="deconnexion" v-if="connected" class="dropdown-item" href="#">déconnexion</a>
        </div>
    </div>
</header>

   <div class="container">
       <div class="row">
           <div class="col-lg-6">
            <div class="jumbotron">
                <h2>Le jardinier</h2>
                <img :src="image" alt="">
                
                <div class="infoJardinier">
                    <p>{{ prenom }} {{ nom }}</p>
                    <p>{{ ville }}</p>
                </div>
                <hr class="my-2">
                <div class="jardinierProduit">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <h3>ses produits</h3>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="../../images/cavabienaller.png" >
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="../../images/cavabienaller.png" >
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="../../images/cavabienaller.png" >
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                </div>
                <hr class="my-2">
                <div class="jardinierRating my-2 py-5">
                    <p>Évaluation du jardinier</p>
                    <p> {{ rating }} / 5 ({{ vote }})</p>
                </div>
                <div class="vote">
                  <button type="submit" class="btn">Votez!</button>  
                </div>
              </div>
           </div>
           <div class="col-lg-6">
            <div class="jumbotron">
                <h2>Le potager</h2>
                <img src="../../images/bg69.jpg" alt="">
                <p class="lead">(BIO){{ bio }}</p>
                <hr class="my-2">
                <div class="potagerRating mt-2 py-5">
                    <p>Évaluation du potager</p>
                    <p> 5 / 5 (69 votes)</p>
                  </div>
                      <div class="vote">
                        <button type="submit" class="btn">Votez!</button>  
                      </div>
                
              </div>
           </div>
           
       </div>
   </div>
    
    
    <div class="newFooter">
        <img src="../../images/cavabienaller.png" alt="logoCaVaBienAller">
        <h3>Une production DreamTeam</h3>
    </div>
    
    
</div>