<div id="accueil">
  <header>
    <div @click="homepageRoute" class="logoContainer">
        <p>partagez votre potager</p>
    </div>
    <div class="menu">
        <img src="../../images/hamburgerTransparent.png" @click="stopAnimation" :class="{ helloWorld: isActive }" class="dropdown redTomatoe" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></img>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a @click="homepageRoute" class="dropdown-item" href="#">accueil</a>
            <a v-if='disconnected' @click="connexionPage" class="dropdown-item" href="#">connexion</a>
            <a @click="potagerPage" class="dropdown-item" href="#">potagers</a>
            <a @click="jardiniersPage" class="dropdown-item" href="#">jardiniers</a>
            <a v-if='disconnected' @click="inscriptionPage" class="dropdown-item" href="#">inscription</a>
            <a @click="pageProfil" v-if="connected" class="dropdown-item" href="#">mon profil</a>
            <a @click="deconnexion" v-if="connected" class="dropdown-item" href="#">déconnexion</a>
        </div>
    </div>
</header>

   <div class="container detailsPot">
       <div class="row  my-2">
           <div class="col text-center justify-content-center">
            <div class="card" style="width: 70%; margin-left: 15%">
              <img src="../../images/bg420.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Potager de {{ prenom }} {{ nom }}</h5>
                <a href="#" @click="goToJardinier(userId)" class="btn ">Profil de {{ prenom }}</a>
                <form action="#">
                  <label for="1">1</label>
                  <input type="radio" name="vote" value="1" v-model="votes">
                  <label for="2">2</label>
                  <input type="radio" name="vote" value="2" v-model="votes">
                  <label for="3">3</label>
                  <input type="radio" name="vote" value="3" v-model="votes">
                  <label for="4">4</label>
                  <input type="radio" name="vote" value="4" v-model="votes">
                  <label for="5">5</label>
                  <input type="radio" name="vote" value="5" v-model="votes">
                </form>
                <p>{{ rating }} / 5  ({{ vote }} Votes)</p>
                <button @click="upVote" class="btn">Voter!</button>
              </div>
            </div>
           </div>
           
           
       </div>
   </div>
    
    
    <div class="newFooter">
        <img src="../../images/cavabienaller.png" alt="logoCaVaBienAller">
        <h3>une production DreamTeam</h3>
    </div>
    
    
</div>