<div>
  <header>
    <div @click="homepageRoute" class="logoContainer">
        <p>partagez votre potager</p>
    </div>
    <div class="menu">
        <img src="../../images/hamburger.png" @click="stopAnimation" :class="{ helloWorld: isActive }" class="dropdown redTomatoe" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></img>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a @click="homepageRoute" class="dropdown-item" href="#">accueil</a>
            <a v-if='disconnected' @click="connexionPage" class="dropdown-item" href="#">connexion</a>
            <a @click="potagerPage" class="dropdown-item" href="#">potagers</a>
            <a @click="jardiniersPage" class="dropdown-item" href="#">jardiniers</a>
            <a v-if='disconnected' @click="inscriptionPage" class="dropdown-item" href="#">inscription</a>
            <a @click="pageProfil" v-if="connected" class="dropdown-item" href="#">mon profil</a>
            <a @click="deconnexion" v-if="connected" class="dropdown-item" href="#">déconnexion</a>
        </div>
    </div>
</header>

    <div class="container">
        <div class="row justify-content-center">
            <h1>Nos jardiniers</h1>
        </div>
        <div class="row my-4">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="../../images/bg420.jpg" alt="First slide">
                    <a href="#" class="btn btn-primary">Voir jardinier</a>
                  </div>
                  <div v-for="jardinier in jardiniers" class="carousel-item">
                    <img class="d-block w-100" :src=jardinier.image alt="Third slide">
                    <a href="#" @click="moveToJardinier(jardinier.id)" class="btn btn-primary">Voir profil de {{ jardinier.prenom}} {{jardinier.nom }}</a>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
    </div>       

    <div class="newFooter">
      <img src="../../images/cavabienaller.png" alt="logoCaVaBienAller">
        <h5>Une production DreamTeam</h5>
  </div>
  
</div>