html,
body,
#app {
  height: 100%;
  margin: 0px;
  font-family: "GardensC";
  background-image: url("../images/bg69.jpg");
  background-position: center;
  object-fit: cover;
  /* Header -----------------------------------------------------------------------------------*/
  /* Accueil ----------------------------------------------------------------------------------*/
  /* Connexion --------------------------------------------------------------------------------*/
  /* Inscription ------------------------------------------------------------------------------*/
  /* Modification de produit ------------------------------------------------------------------*/
  /* Modification de produit ------------------------------------------------------------------*/
  /* Profil -----------------------------------------------------------------------------------*/
  /* Footer -----------------------------------------------------------------------------------*/
}

html header,
body header,
#app header {
  background-image: url("../images/footer.png");
  filter: grayscale(0.3);
  background-position: center;
  object-fit: cover;
  width: 80%;
  margin-left: 10%;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 130px;
}

html header button,
html header input,
html header optgroup,
html header select,
html header textarea,
body header button,
body header input,
body header optgroup,
body header select,
body header textarea,
#app header button,
#app header input,
#app header optgroup,
#app header select,
#app header textarea {
  margin: 2px !important;
}

html header .submit,
body header .submit,
#app header .submit {
  margin-top: 10px !important;
}

html header .logoContainer,
body header .logoContainer,
#app header .logoContainer {
  width: 34%;
}

html header .logo,
body header .logo,
#app header .logo {
  margin-left: 20px;
  height: 125px;
  width: 90%;
}

html header input[type="radio"],
body header input[type="radio"],
#app header input[type="radio"] {
  margin-left: 0 !important;
  border: 2px solid #C5E388 !important;
}

html header .connexion,
body header .connexion,
#app header .connexion {
  margin-right: 20px;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

html header .connexion img,
body header .connexion img,
#app header .connexion img {
  height: 125px;
}

html header .searchTomatoe,
body header .searchTomatoe,
#app header .searchTomatoe {
  margin-left: 10px;
}

html header .searchSection,
body header .searchSection,
#app header .searchSection {
  display: flex;
  flex-direction: column;
  width: 15%;
}

html header .searchSection .searchBar,
body header .searchSection .searchBar,
#app header .searchSection .searchBar {
  height: 20px;
  width: 220px;
  margin-bottom: 5px;
  border: 2px solid #C5E388 !important;
}

html header .searchSection form,
body header .searchSection form,
#app header .searchSection form {
  display: flex;
  flex-direction: row;
  margin-bottom: -10px;
  margin-left: 2px;
}

html header .searchSection .submit,
body header .searchSection .submit,
#app header .searchSection .submit {
  color: white;
  width: 220px;
  background-color: #C5E388 !important;
  border: 1px solid white;
  font-size: 18px;
  font-family: "GardensC";
}

html header .twoTomatoes,
body header .twoTomatoes,
#app header .twoTomatoes {
  display: none;
}

@media screen and (max-width: 992px) {
  html header .connexion,
  html header .searchSection,
  body header .connexion,
  body header .searchSection,
  #app header .connexion,
  #app header .searchSection {
    display: none;
  }
  html header .twoTomatoes,
  body header .twoTomatoes,
  #app header .twoTomatoes {
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  html header .logoContainer,
  body header .logoContainer,
  #app header .logoContainer {
    width: 70%;
  }
  html header .mobileSearch,
  body header .mobileSearch,
  #app header .mobileSearch {
    display: block !important;
  }
  html header .mobileSearch .login,
  body header .mobileSearch .login,
  #app header .mobileSearch .login {
    background: #C5E388 !important;
    color: white;
    width: 138px;
    border: 2px solid white;
  }
  html header .mobileSearch .searchFeatures,
  body header .mobileSearch .searchFeatures,
  #app header .mobileSearch .searchFeatures {
    display: flex;
    flex-direction: row;
  }
  html header .mobileSearch .searchBar,
  body header .mobileSearch .searchBar,
  #app header .mobileSearch .searchBar {
    border: 2px solid #C5E388 !important;
  }
  html header .mobileSearch .submit,
  body header .mobileSearch .submit,
  #app header .mobileSearch .submit {
    color: white;
    background-color: #C5E388 !important;
    border: 1px solid white;
    font-size: 18px;
    font-family: "GardensC";
  }
}

@media screen and (max-width: 767px) {
  html header .twoTomatoes,
  body header .twoTomatoes,
  #app header .twoTomatoes {
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  html header .twoTomatoes img,
  body header .twoTomatoes img,
  #app header .twoTomatoes img {
    height: 100px;
  }
}

@media screen and (max-width: 500px) {
  html header .twoTomatoes,
  body header .twoTomatoes,
  #app header .twoTomatoes {
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  html header .twoTomatoes img,
  body header .twoTomatoes img,
  #app header .twoTomatoes img {
    height: 75px;
  }
}

html #accueil,
body #accueil,
#app #accueil {
  height: 100%;
  width: 100%;
}

html #accueil .contentAccueil .potagers,
html #accueil .contentAccueil .jardiniers,
body #accueil .contentAccueil .potagers,
body #accueil .contentAccueil .jardiniers,
#app #accueil .contentAccueil .potagers,
#app #accueil .contentAccueil .jardiniers {
  display: flex;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 1023px) {
  html #accueil .contentAccueil .potagers,
  html #accueil .contentAccueil .jardiniers,
  body #accueil .contentAccueil .potagers,
  body #accueil .contentAccueil .jardiniers,
  #app #accueil .contentAccueil .potagers,
  #app #accueil .contentAccueil .jardiniers {
    flex-direction: column;
  }
}

html #accueil .contentAccueil .potagers h2,
html #accueil .contentAccueil .jardiniers h2,
body #accueil .contentAccueil .potagers h2,
body #accueil .contentAccueil .jardiniers h2,
#app #accueil .contentAccueil .potagers h2,
#app #accueil .contentAccueil .jardiniers h2 {
  width: 20%;
}

@media only screen and (max-width: 1023px) {
  html #accueil .contentAccueil .potagers h2,
  html #accueil .contentAccueil .jardiniers h2,
  body #accueil .contentAccueil .potagers h2,
  body #accueil .contentAccueil .jardiniers h2,
  #app #accueil .contentAccueil .potagers h2,
  #app #accueil .contentAccueil .jardiniers h2 {
    width: auto;
  }
}

html #accueil .contentAccueil .potagers .sections,
html #accueil .contentAccueil .jardiniers .sections,
body #accueil .contentAccueil .potagers .sections,
body #accueil .contentAccueil .jardiniers .sections,
#app #accueil .contentAccueil .potagers .sections,
#app #accueil .contentAccueil .jardiniers .sections {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

@media only screen and (max-width: 1023px) {
  html #accueil .contentAccueil .potagers .sections,
  html #accueil .contentAccueil .jardiniers .sections,
  body #accueil .contentAccueil .potagers .sections,
  body #accueil .contentAccueil .jardiniers .sections,
  #app #accueil .contentAccueil .potagers .sections,
  #app #accueil .contentAccueil .jardiniers .sections {
    width: 100%;
  }
}

html #accueil .contentAccueil .potagers .sections .potager,
html #accueil .contentAccueil .potagers .sections .jardinier,
html #accueil .contentAccueil .jardiniers .sections .potager,
html #accueil .contentAccueil .jardiniers .sections .jardinier,
body #accueil .contentAccueil .potagers .sections .potager,
body #accueil .contentAccueil .potagers .sections .jardinier,
body #accueil .contentAccueil .jardiniers .sections .potager,
body #accueil .contentAccueil .jardiniers .sections .jardinier,
#app #accueil .contentAccueil .potagers .sections .potager,
#app #accueil .contentAccueil .potagers .sections .jardinier,
#app #accueil .contentAccueil .jardiniers .sections .potager,
#app #accueil .contentAccueil .jardiniers .sections .jardinier {
  height: 140px;
  width: 160px;
  margin-bottom: 15px;
  background-color: black;
}

html .connexionBody,
body .connexionBody,
#app .connexionBody {
  width: 80%;
  margin-left: 10%;
  height: 500px;
  display: flex;
  flex-direction: column;
}

html .connexionBody .inputArea,
body .connexionBody .inputArea,
#app .connexionBody .inputArea {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 25px;
}

html .connexionBody .inputArea input,
body .connexionBody .inputArea input,
#app .connexionBody .inputArea input {
  width: 240px;
  height: 20px;
  margin-top: 10px;
  border: 2px solid #C5E388 !important;
}

html .connexionBody h1,
body .connexionBody h1,
#app .connexionBody h1 {
  text-align: center;
  margin-bottom: 20px;
}

html .connexionBody .concombre,
body .connexionBody .concombre,
#app .connexionBody .concombre {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

html #inscription,
body #inscription,
#app #inscription {
  height: 100%;
  width: 100%;
}

html #inscription .contentInscription,
body #inscription .contentInscription,
#app #inscription .contentInscription {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1023px) {
  html #inscription .contentInscription,
  body #inscription .contentInscription,
  #app #inscription .contentInscription {
    height: 68%;
    width: 100%;
    overflow: scroll;
    text-align: center;
  }
}

html #inscription .contentInscription h1,
body #inscription .contentInscription h1,
#app #inscription .contentInscription h1 {
  text-align: center;
}

html #inscription .contentInscription form,
body #inscription .contentInscription form,
#app #inscription .contentInscription form {
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 1024px) {
  html #inscription .contentInscription form,
  body #inscription .contentInscription form,
  #app #inscription .contentInscription form {
    align-items: center;
    justify-content: center;
  }
  html #inscription .contentInscription form .sectionUn,
  body #inscription .contentInscription form .sectionUn,
  #app #inscription .contentInscription form .sectionUn {
    margin-left: 75px;
  }
  html #inscription .contentInscription form .sectionDeux,
  body #inscription .contentInscription form .sectionDeux,
  #app #inscription .contentInscription form .sectionDeux {
    margin-right: 75px;
    margin-left: 50px;
    padding-top: 30px;
  }
}

@media only screen and (max-width: 1023px) {
  html #inscription .contentInscription form,
  body #inscription .contentInscription form,
  #app #inscription .contentInscription form {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1024px) {
  html #inscription .contentInscription form .champs,
  body #inscription .contentInscription form .champs,
  #app #inscription .contentInscription form .champs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  html #inscription .contentInscription form .champs h2,
  body #inscription .contentInscription form .champs h2,
  #app #inscription .contentInscription form .champs h2 {
    margin-right: 15px;
  }
}

html #inscription .contentInscription form .champs input,
body #inscription .contentInscription form .champs input,
#app #inscription .contentInscription form .champs input {
  height: 35px;
}

html #inscription .contentInscription form .button,
body #inscription .contentInscription form .button,
#app #inscription .contentInscription form .button {
  height: 35px;
  width: 176px;
  margin-top: 15px;
  background-color: #A4D626;
  color: white;
}

@media only screen and (min-width: 1024px) {
  html #inscription .contentInscription form .button,
  body #inscription .contentInscription form .button,
  #app #inscription .contentInscription form .button {
    margin-left: 192px;
  }
}

html #modifProduit,
body #modifProduit,
#app #modifProduit {
  height: 100%;
  width: 100%;
}

html #modifProduit .contentModifProduit,
body #modifProduit .contentModifProduit,
#app #modifProduit .contentModifProduit {
  display: flex;
  flex-direction: row-reverse;
}

@media only screen and (max-width: 1023px) {
  html #modifProduit .contentModifProduit,
  body #modifProduit .contentModifProduit,
  #app #modifProduit .contentModifProduit {
    height: 68%;
    width: 100%;
    flex-direction: column;
    overflow: scroll;
    text-align: center;
  }
}

@media only screen and (min-width: 1023px) {
  html #modifProduit .contentModifProduit,
  body #modifProduit .contentModifProduit,
  #app #modifProduit .contentModifProduit {
    justify-content: space-around;
  }
}

html #modifProduit .contentModifProduit form,
body #modifProduit .contentModifProduit form,
#app #modifProduit .contentModifProduit form {
  display: flex;
}

@media only screen and (max-width: 1023px) {
  html #modifProduit .contentModifProduit form,
  body #modifProduit .contentModifProduit form,
  #app #modifProduit .contentModifProduit form {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1023px) {
  html #modifProduit .contentModifProduit form,
  body #modifProduit .contentModifProduit form,
  #app #modifProduit .contentModifProduit form {
    width: 60%;
    justify-content: space-between;
  }
}

html #modifProduit .contentModifProduit form .produitImg,
body #modifProduit .contentModifProduit form .produitImg,
#app #modifProduit .contentModifProduit form .produitImg {
  width: 400px;
  height: 200px;
}

@media only screen and (min-width: 1023px) {
  html #modifProduit .contentModifProduit form .produitImg,
  body #modifProduit .contentModifProduit form .produitImg,
  #app #modifProduit .contentModifProduit form .produitImg {
    margin-bottom: 85px;
  }
}

@media only screen and (min-width: 1024px) {
  html #modifProduit .contentModifProduit form .champs,
  body #modifProduit .contentModifProduit form .champs,
  #app #modifProduit .contentModifProduit form .champs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 45px;
  }
  html #modifProduit .contentModifProduit form .champs h2,
  body #modifProduit .contentModifProduit form .champs h2,
  #app #modifProduit .contentModifProduit form .champs h2 {
    margin-right: 15px;
  }
  html #modifProduit .contentModifProduit form .champs input,
  body #modifProduit .contentModifProduit form .champs input,
  #app #modifProduit .contentModifProduit form .champs input {
    height: 25px;
    width: 245px;
  }
}

@media only screen and (min-width: 1024px) {
  html #modifProduit .contentModifProduit form .buttons,
  body #modifProduit .contentModifProduit form .buttons,
  #app #modifProduit .contentModifProduit form .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 14px;
  }
}

html #modifProduit .contentModifProduit form .buttons .button,
body #modifProduit .contentModifProduit form .buttons .button,
#app #modifProduit .contentModifProduit form .buttons .button {
  height: 55px;
  width: 200px;
  margin-top: 15px;
  align-self: center;
  background-color: #A4D626;
  color: white;
}

html #modifProduit .contentModifProduit form .buttons .annuler,
body #modifProduit .contentModifProduit form .buttons .annuler,
#app #modifProduit .contentModifProduit form .buttons .annuler {
  background-color: red;
}

html #modifProduit .contentModifProduit .choixProduit .carrousel,
body #modifProduit .contentModifProduit .choixProduit .carrousel,
#app #modifProduit .contentModifProduit .choixProduit .carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 1023px) {
  html #modifProduit .contentModifProduit .choixProduit .carrousel,
  body #modifProduit .contentModifProduit .choixProduit .carrousel,
  #app #modifProduit .contentModifProduit .choixProduit .carrousel {
    flex-direction: row;
  }
}

html #modifProduit .contentModifProduit .choixProduit .carrousel .thumbnails,
body #modifProduit .contentModifProduit .choixProduit .carrousel .thumbnails,
#app #modifProduit .contentModifProduit .choixProduit .carrousel .thumbnails {
  overflow: hidden;
}

html #modifProduit .contentModifProduit .choixProduit .carrousel .thumbnails span,
body #modifProduit .contentModifProduit .choixProduit .carrousel .thumbnails span,
#app #modifProduit .contentModifProduit .choixProduit .carrousel .thumbnails span {
  display: flex;
}

@media only screen and (min-width: 1024px) {
  html #modifProduit .contentModifProduit .choixProduit .carrousel .thumbnails span,
  body #modifProduit .contentModifProduit .choixProduit .carrousel .thumbnails span,
  #app #modifProduit .contentModifProduit .choixProduit .carrousel .thumbnails span {
    flex-direction: column;
    height: 343px;
  }
}

html #modifProduit .contentModifProduit .choixProduit .carrousel .thumbnails span .produit,
body #modifProduit .contentModifProduit .choixProduit .carrousel .thumbnails span .produit,
#app #modifProduit .contentModifProduit .choixProduit .carrousel .thumbnails span .produit {
  height: 100px;
  width: 100px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 1023px) {
  html #modifProduit .contentModifProduit .choixProduit .carrousel .thumbnails span .produit,
  body #modifProduit .contentModifProduit .choixProduit .carrousel .thumbnails span .produit,
  #app #modifProduit .contentModifProduit .choixProduit .carrousel .thumbnails span .produit {
    height: 80px;
    width: 80px;
    margin-right: 15px;
    margin-bottom: 0px;
  }
}

html #modifProduit .contentModifProduit .choixProduit .carrousel .leftArrow,
html #modifProduit .contentModifProduit .choixProduit .carrousel .rightArrow,
body #modifProduit .contentModifProduit .choixProduit .carrousel .leftArrow,
body #modifProduit .contentModifProduit .choixProduit .carrousel .rightArrow,
#app #modifProduit .contentModifProduit .choixProduit .carrousel .leftArrow,
#app #modifProduit .contentModifProduit .choixProduit .carrousel .rightArrow {
  height: 50px;
  width: 50px;
}

html #modifProduit .contentModifProduit .choixProduit .carrousel .leftArrow,
body #modifProduit .contentModifProduit .choixProduit .carrousel .leftArrow,
#app #modifProduit .contentModifProduit .choixProduit .carrousel .leftArrow {
  transform: rotate(-90deg);
}

@media only screen and (max-width: 1023px) {
  html #modifProduit .contentModifProduit .choixProduit .carrousel .leftArrow,
  body #modifProduit .contentModifProduit .choixProduit .carrousel .leftArrow,
  #app #modifProduit .contentModifProduit .choixProduit .carrousel .leftArrow {
    transform: rotate(180deg);
  }
}

@media only screen and (min-width: 1024px) {
  html #modifProduit .contentModifProduit .choixProduit .carrousel .rightArrow,
  body #modifProduit .contentModifProduit .choixProduit .carrousel .rightArrow,
  #app #modifProduit .contentModifProduit .choixProduit .carrousel .rightArrow {
    transform: rotate(90deg);
  }
}

html #modifProfil,
body #modifProfil,
#app #modifProfil {
  height: 100%;
  width: 100%;
}

html #modifProfil .contentModifProfil,
body #modifProfil .contentModifProfil,
#app #modifProfil .contentModifProfil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1023px) {
  html #modifProfil .contentModifProfil,
  body #modifProfil .contentModifProfil,
  #app #modifProfil .contentModifProfil {
    height: 68%;
    width: 100%;
    overflow: scroll;
    text-align: center;
  }
}

html #modifProfil .contentModifProfil form,
body #modifProfil .contentModifProfil form,
#app #modifProfil .contentModifProfil form {
  display: flex;
}

@media only screen and (min-width: 1024px) {
  html #modifProfil .contentModifProfil form,
  body #modifProfil .contentModifProfil form,
  #app #modifProfil .contentModifProfil form {
    width: 100%;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 1023px) {
  html #modifProfil .contentModifProfil form,
  body #modifProfil .contentModifProfil form,
  #app #modifProfil .contentModifProfil form {
    flex-direction: column;
    justify-content: center;
  }
}

html #modifProfil .contentModifProfil form .firstSection h2,
body #modifProfil .contentModifProfil form .firstSection h2,
#app #modifProfil .contentModifProfil form .firstSection h2 {
  height: 75px;
  padding-top: 15px;
  background-image: url("../images/potager.png");
  color: white;
  display: flex;
  align-self: flex-start;
}

@media only screen and (min-width: 1024px) {
  html #modifProfil .contentModifProfil form .firstSection .champs,
  body #modifProfil .contentModifProfil form .firstSection .champs,
  #app #modifProfil .contentModifProfil form .firstSection .champs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 45px;
  }
  html #modifProfil .contentModifProfil form .firstSection .champs h2,
  body #modifProfil .contentModifProfil form .firstSection .champs h2,
  #app #modifProfil .contentModifProfil form .firstSection .champs h2 {
    margin-right: 15px;
  }
  html #modifProfil .contentModifProfil form .firstSection .champs input,
  body #modifProfil .contentModifProfil form .firstSection .champs input,
  #app #modifProfil .contentModifProfil form .firstSection .champs input {
    height: 25px;
    width: 245px;
  }
}

html #modifProfil .contentModifProfil form .firstSection .champs .modifButton,
body #modifProfil .contentModifProfil form .firstSection .champs .modifButton,
#app #modifProfil .contentModifProfil form .firstSection .champs .modifButton {
  height: 25px;
  width: 200px;
  margin-top: 15px;
  align-self: center;
  background-color: #A4D626;
  color: white;
}

html #modifProfil .contentModifProfil form .thirdSection h2,
body #modifProfil .contentModifProfil form .thirdSection h2,
#app #modifProfil .contentModifProfil form .thirdSection h2 {
  height: 75px;
  padding-top: 15px;
  background-image: url("../images/potager.png");
  color: white;
  display: flex;
  align-self: flex-start;
}

@media only screen and (min-width: 1024px) {
  html #modifProfil .contentModifProfil form .thirdSection .buttons,
  body #modifProfil .contentModifProfil form .thirdSection .buttons,
  #app #modifProfil .contentModifProfil form .thirdSection .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 14px;
  }
}

html #modifProfil .contentModifProfil form .thirdSection .buttons .button,
body #modifProfil .contentModifProfil form .thirdSection .buttons .button,
#app #modifProfil .contentModifProfil form .thirdSection .buttons .button {
  height: 55px;
  width: 200px;
  margin-top: 15px;
  align-self: center;
  background-color: #A4D626;
  color: white;
}

html #modifProfil .contentModifProfil form .thirdSection .buttons .annuler,
body #modifProfil .contentModifProfil form .thirdSection .buttons .annuler,
#app #modifProfil .contentModifProfil form .thirdSection .buttons .annuler {
  background-color: red;
}

html #profil,
body #profil,
#app #profil {
  height: 100%;
  width: 100%;
}

html #profil .contentProfil,
body #profil .contentProfil,
#app #profil .contentProfil {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1023px) {
  html #profil .contentProfil,
  body #profil .contentProfil,
  #app #profil .contentProfil {
    height: 68%;
    width: 100%;
    overflow: scroll;
    text-align: center;
  }
}

html #profil .contentProfil .contenu,
body #profil .contentProfil .contenu,
#app #profil .contentProfil .contenu {
  width: 100%;
  display: flex;
}

@media only screen and (max-width: 1023px) {
  html #profil .contentProfil .contenu,
  body #profil .contentProfil .contenu,
  #app #profil .contentProfil .contenu {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  html #profil .contentProfil .contenu,
  body #profil .contentProfil .contenu,
  #app #profil .contentProfil .contenu {
    justify-content: space-around;
  }
}

html #profil .contentProfil .contenu .firstSection,
html #profil .contentProfil .contenu .secondSection,
body #profil .contentProfil .contenu .firstSection,
body #profil .contentProfil .contenu .secondSection,
#app #profil .contentProfil .contenu .firstSection,
#app #profil .contentProfil .contenu .secondSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  html #profil .contentProfil .contenu .firstSection,
  html #profil .contentProfil .contenu .secondSection,
  body #profil .contentProfil .contenu .firstSection,
  body #profil .contentProfil .contenu .secondSection,
  #app #profil .contentProfil .contenu .firstSection,
  #app #profil .contentProfil .contenu .secondSection {
    width: 300px;
  }
}

@media only screen and (max-width: 1023px) {
  html #profil .contentProfil .contenu .firstSection,
  html #profil .contentProfil .contenu .secondSection,
  body #profil .contentProfil .contenu .firstSection,
  body #profil .contentProfil .contenu .secondSection,
  #app #profil .contentProfil .contenu .firstSection,
  #app #profil .contentProfil .contenu .secondSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

html #profil .contentProfil .contenu .firstSection h2,
html #profil .contentProfil .contenu .secondSection h2,
body #profil .contentProfil .contenu .firstSection h2,
body #profil .contentProfil .contenu .secondSection h2,
#app #profil .contentProfil .contenu .firstSection h2,
#app #profil .contentProfil .contenu .secondSection h2 {
  height: 75px;
  width: 100%;
  padding-top: 15px;
  background-image: url("../images/potager.png");
  color: white;
  display: flex;
  align-self: flex-start;
}

html #profil .contentProfil .contenu .thirdSection,
body #profil .contentProfil .contenu .thirdSection,
#app #profil .contentProfil .contenu .thirdSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1023px) {
  html #profil .contentProfil .contenu .thirdSection form .buttons,
  body #profil .contentProfil .contenu .thirdSection form .buttons,
  #app #profil .contentProfil .contenu .thirdSection form .buttons {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1024px) {
  html #profil .contentProfil .contenu .thirdSection form .buttons,
  body #profil .contentProfil .contenu .thirdSection form .buttons,
  #app #profil .contentProfil .contenu .thirdSection form .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 14px;
  }
}

html #profil .contentProfil .contenu .thirdSection form .buttons .button,
body #profil .contentProfil .contenu .thirdSection form .buttons .button,
#app #profil .contentProfil .contenu .thirdSection form .buttons .button {
  height: 55px;
  width: 200px;
  margin-top: 15px;
  align-self: center;
  background-color: #A4D626;
  color: white;
}

html .newFooter,
body .newFooter,
#app .newFooter {
  display: flex;
  flex-direction: row;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 15%;
  height: 100px;
  width: 70%;
  margin-left: 15%;
  background-image: url("../images/footer.png");
  background-position: center;
}

html .newFooter img,
body .newFooter img,
#app .newFooter img {
  position: relative;
  height: 75px;
  top: 10%;
  left: 5%;
}

html .newFooter .socialMedia,
body .newFooter .socialMedia,
#app .newFooter .socialMedia {
  margin-top: -10px;
  position: relative;
  top: -10px;
  left: 65%;
}

html .newFooter .socialMedia img,
body .newFooter .socialMedia img,
#app .newFooter .socialMedia img {
  height: 55px;
}
