html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: sans-serif;
  background-image: url("../images/bg1986.jpg");
  background-position: center;
  object-fit: contain;
}

/* Header -----------------------------------------------------------------------------------*/
header {
  background-image: url("../images/footer.png");
  background-position: 35% 65%;
  object-fit: cover;
  width: 90%;
  margin-left: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  font-family: sans-serif;
}

header button,
header input,
header optgroup,
header select,
header textarea {
  margin: 2px !important;
}

header .logoContainer {
  margin-top: -20px;
  background-image: url("../images/logoFinale(blanc).svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 25px;
  width: 80%;
  height: 125px;
}

header .logoContainer p {
  font-size: 18px;
  position: relative;
  top: 92%;
  left: 7%;
}

@media only screen and (min-width: 768px) {
  header .logoContainer {
    width: 400px;
  }
  header .logoContainer p {
    font-size: 20px;
    position: relative;
    top: 92%;
    left: 56%;
  }
}

header .menu .dropdown-menu {
  min-width: 0rem !important;
  margin-top: 10px !important;
  left: -15px !important;
}

@media only screen and (min-width: 992px) {
  header .menu .dropdown-menu {
    left: -8px !important;
  }
}

header .menu .redTomatoe {
  height: 125px;
  width: 104px;
  margin-right: 10px;
}

header .menu .helloWorld {
  animation-name: helloWorld;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes helloWorld {
  0% {
    transform: rotate(40deg);
  }
  25% {
    transform: rotate(-40deg);
  }
  50% {
    transform: rotate(40deg);
  }
  75% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(40deg);
  }
}

/* Accueil ----------------------------------------------------------------------------------*/
.container {
  width: 100%;
  justify-content: center;
}

.container .row {
  width: 90%;
  margin-left: 5%;
}

.container .potagerTitle {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  font-size: 48px !important;
}

/* Connexion --------------------------------------------------------------------------------*/
.jumbotron.connexionJumbo {
  width: 80%;
  margin-left: 10%;
  background-color: rgba(255, 255, 255, 0.6) !important;
  border-radius: 10px;
}

.jumbotron.connexionJumbo .btn {
  margin: 5px 5px;
  background-color: #A4D626 !important;
  color: white !important;
  width: 95px !important;
}

.jumbotron.connexionJumbo label {
  font-size: 24px !important;
}

.jumbotron.connexionJumbo input, .jumbotron.connexionJumbo hr {
  border: 2px solid #A4D626;
  width: 40% !important;
  margin-left: 30% !important;
  justify-self: center;
}

/* Inscription ------------------------------------------------------------------------------*/
.jumbotron .container .row {
  justify-content: center;
}

.jumbotron .container .row .col-xs-12 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 40px;
  margin-right: 40px;
}

.jumbotron .container .row .col-xs-12 label {
  font-size: 20px !important;
  width: 150px !important;
  text-align: center;
}

.jumbotron .container .row .col-xs-12 input {
  width: 150px !important;
}

.jumbotron .container .row .inscription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jumbotron .container .btn {
  background-color: #A4D626 !important;
  color: white;
  border-radius: 10px;
  width: 50% !important;
  justify-content: center;
  border: 2px solid white !important;
}

/* Modification de profile ------------------------------------------------------------------*/
.modifProfil {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
}

.modifProfil .nom, .modifProfil .prenom, .modifProfil .courriel, .modifProfil .bio, .modifProfil .ville, .modifProfil .addresse, .modifProfil .codePostale, .modifProfil .motdePasse, .modifProfil .questionSecret {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modifProfil .nom label, .modifProfil .prenom label, .modifProfil .courriel label, .modifProfil .bio label, .modifProfil .ville label, .modifProfil .addresse label, .modifProfil .codePostale label, .modifProfil .motdePasse label, .modifProfil .questionSecret label {
  width: 25%;
}

.modifProfil .nom input, .modifProfil .nom .btn, .modifProfil .prenom input, .modifProfil .prenom .btn, .modifProfil .courriel input, .modifProfil .courriel .btn, .modifProfil .bio input, .modifProfil .bio .btn, .modifProfil .ville input, .modifProfil .ville .btn, .modifProfil .addresse input, .modifProfil .addresse .btn, .modifProfil .codePostale input, .modifProfil .codePostale .btn, .modifProfil .motdePasse input, .modifProfil .motdePasse .btn, .modifProfil .questionSecret input, .modifProfil .questionSecret .btn {
  width: 75%;
  position: relative;
  right: 2%;
}

.modifProfil .btn {
  background-color: #A4D626 !important;
  color: white;
  width: 50%;
  height: 40px;
  margin-left: 25%;
  border-radius: 10px;
  border: 2px solid white;
}

.Buttons {
  margin-top: 25px;
}

.Buttons .save {
  background-color: #A4D626 !important;
  color: white !important;
  border: 2px solid white;
  width: 75%;
}

.Buttons .quit {
  background-color: red !important;
  color: white !important;
  border: 2px solid white;
  width: 75%;
}

.profileImagesModif {
  width: 90%;
  margin-left: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.profileImagesModif .btn {
  background-color: #A4D626 !important;
  color: white !important;
  border: 2px solid white;
}

/* Profil -----------------------------------------------------------------------------------*/
.profileContainer {
  margin: 15px 0px;
  background-color: rgba(255, 255, 255, 0.6);
}

.profileContainer img {
  width: 100%;
  height: 150px;
}

.profileContainer .ranking {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profileButtonsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.profileButtonsContainer a {
  height: 55px;
  width: 100%;
  margin-top: 15px;
  align-self: center;
  background-color: rgba(164, 214, 38, 0.65);
  color: white;
  border: 2px solid white;
}

/* Footer -----------------------------------------------------------------------------------*/
.newFooter {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 15%;
  height: 100px;
  width: 80%;
  margin-left: 10%;
  background-image: url("../images/footer.png");
  background-position: center;
}

.newFooter img {
  position: relative;
  height: 75px;
  top: 10%;
  left: 5%;
}

.newFooter h3 {
  margin-left: 10%;
}

@media only screen and (min-width: 767px) {
  .newFooter .newFooter h3 {
    margin-left: 50%;
  }
}

.vote {
  display: flex;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 50px;
  height: 50px;
  background-color: #A4D626 !important;
}

.carousel-item .btn {
  position: relative;
  top: -60px;
  left: 5%;
  background-color: #A4D626;
  border: 2px solid white;
  margin: 5px 0 5px 0;
  width: 150px;
}

.container.detailsPot {
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.container.detailsPot .carousel-control-next-icon, .container.detailsPot .carousel-control-prev-icon {
  width: 25px;
  height: 25px;
  background-color: #A4D626 !important;
}

.container.detailsPot .potagerRating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container.detailsPot .jardinierRating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container.detailsPot .infoJardinier {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container.detailsPot .btn {
  background-color: #A4D626 !important;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.productImageContainer {
  margin: 10px 0;
}

.potagerContainer img, .jardinierContainer img, .productContainer img {
  width: 100%;
  height: 200px;
}

.potagerContainer h4, .jardinierContainer h4, .productContainer h4 {
  text-align: center;
}

.potagerContainer p, .jardinierContainer p, .productContainer p {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  margin: 10px 0;
}

.potagerContainer .btn, .jardinierContainer .btn, .productContainer .btn {
  background-color: #A4D626;
  border: 2px solid white;
  margin: 5px 0 5px 0;
  width: 150px;
}

.addProduct {
  background-color: rgba(255, 255, 255, 0.2);
}

.addProduct label {
  width: 85px;
}

.addProduct .btn {
  width: 150px;
  background-color: #A4D626;
  color: white;
  border: 2px solid white;
}

.supprimerUser {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.supprimerUser .btn {
  background-color: red !important;
  color: white;
  border: 2px solid white;
}

.admin {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6) !important;
  width: 60%;
  margin-left: 20%;
  border-radius: 10px;
  margin: 10px 0;
}

.jumbotron.outboundOffers {
  background-color: rgba(255, 255, 255, 0.6);
}

.jumbotron.outboundOffers .alert {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jumbotron.outboundOffers .btn {
  background-color: red !important;
  border: 2px solid white;
  color: white;
  width: 50%;
  margin-left: 25%;
}

.jumbotron.outboundOffers .accept {
  background-color: #A4D626 !important;
}

.sectionEchange .card-body {
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.sectionEchange .btn {
  background-color: #A4D626;
  color: white;
  border: 2px solid white;
}

.carousel-inner.offre {
  margin-top: -40px;
  z-index: 0;
}

.carousel-inner.offre h4 {
  position: relative;
  top: 40px;
  left: 20px;
  z-index: 1;
}

.echange .card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.echange .btn {
  width: 75%;
  margin-left: 12.5%;
  background-color: #A4D626 !important;
  color: white;
  border: 2px solid white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.echange .warning {
  background-color: #e9890c !important;
  color: white;
  width: 75%;
  margin-left: 12.5%;
  border: 2px solid white;
}

.echange .decline {
  background-color: red !important;
  color: white;
  width: 75%;
  margin-left: 12.5%;
  border: 2px solid white;
}

.search {
  height: 140px;
  margin: 10px 0;
  background-image: url("../images/searchBG.jpg");
  background-position: center;
  border-radius: 10px;
  color: white;
}

.search label {
  width: 32%;
  font-size: 16px;
}

.search .btn {
  background-color: #A4D626 !important;
  width: 35%;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  height: 30px;
  text-align: top;
}

.search input {
  margin-top: 10px;
}

.search .xButton {
  background-color: red !important;
  color: white;
  border: 2px solid white;
  width: 12%;
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.search .searchButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
